html, body{
    color: white;
    background-color: #281308;
    height: 100vh;
    margin: 0;
}
article{
    display: flex;
    height: 100%;
    align-items: center;
}
section{
    width: 50%;
    height: 100%;
}
#tituloHome{
    padding: 3%;
}

#tituloHome h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F1C375;
    font-size: 90px;
    margin: 0;
}
#tituloHome h2{
    margin: 0;
    font-size: 50px;
}

#sectionEquipo, #bttnsHome{
    display: flex;
    flex-direction: column;
}
#sectionEquipo{
    justify-content: space-evenly;
    align-items: center;
}
#bttnsHome{
    margin-top: 5%;
}
#bttnsHome button{
    background-color: #FDD70B;
    color:black;
    font-size: 40px;
    width: 100%;
    margin-top: 15%;
}
