@import "../../../variables.scss";

.boxFactura {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxMesaCliente {
  display: flex;
  flex-direction: row;
  height: 36%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    h3 {
      text-decoration: none;
      color: #ffff;
      font-family: "Roboto", sans-serif;
      margin: 0 10px;
      font-size: 1rem;
    }
    input {
      // width: 100%;
      width: 5rem;
      background: $naranjaColor;
      border: 2px solid $brownBordes;
      height: 1.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      &:focus {
        outline: none;
        border:  solid #854F25;
        }
    }
  }

  // background: aqua;
}
.boxItemOrden {
  align-content: center;
  height: 3rem;
  background: $yellowColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 23px;
    color: $brownOscuro2;
    margin: 0;
  }

}

.boxDescripcionCadaItemOrden {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
  .descripcionOrdenItem {
    display: flex;
    flex-wrap: wrap;
  }
  p {
    text-decoration: none;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    margin: 0 10px;
    font-size: 1.2rem;
  }
}

.boxTotal {
  height: 3rem;
  background: $naranjaColor;
  align-items: center;
  justify-content: space-evenly;
  display: flex;

  .boxTotalDesc {
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 23px;
    color: $brownOscuro2;
    margin: 0;
  }
}