@import "../../../variables.scss";

.boxFactura {
  // display: flex;
  // flex-direction: column;
  // justify-content:space-between;
  // height: auto;
  // width: 34%;
  // background: rgba(0, 0, 0, 0.55);
  // border: 1px solid $naranjaColor;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 50%;
  background: rgba(0, 0, 0, 0.55);
  border: 1px solid #f1c375;
  box-sizing: border-box;
  margin: 0 0 0 2rem;
  
}
.boxMesaCliente {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    h3 {
      text-decoration: none;
      color: #ffff;
      font-family: "Roboto", sans-serif;
      margin: 0 10px;
      font-size: 1rem;
    }
    input {
      // width: 100%;
      width: 5rem;
      // background: $naranjaColor;
      background: #100f0c;
      border: 2px solid $brownBordes;
      height: 1.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      &:focus {
        outline: none;
        border:  solid #854F25;
        }
    }
  }
}

.boxItemOrden,.boxTotal{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  text-align: center;
  font-size: 1rem;
  align-content: stretch;
  justify-content: space-evenly;
  font-family: "RocknRoll One", sans-serif;
  color: aliceblue;
  align-items: center;
  // margin: 0.5rem 0;
  // padding: 1rem 0;
  // background-color: #3a372c;
  
  background-color: #483b0a;
  padding: 0.4rem;
  p {
    margin: 0;
  }
}

.boxPedidos {
  height: 210px;
  overflow: scroll;
  .boxDescripcionCadaItemOrden {
    color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr;
    grid-column-gap: -3rem;
    column-gap: 1%;
    padding: -1rem;
    /* row-gap: 37%; */
    text-align: center;
    grid-template-rows: auto;
    align-items: center;
    margin: 0.5rem 0;
    p {
      margin: 0;
      font-size: 1rem;
      font-family: "RocknRoll One", sans-serif;
    }
    img {
      width: 1.1rem;
      cursor:pointer;
    }
  }
}

.boxTotal {
  display: flex;
  // background:#413932;
  background-color: #483b0a;
  justify-content: space-around;

}

      
@media(max-width:775px) {
  .boxPedidos {
    height: 570px;

  }
  .boxFactura {
    width: 100%;
    margin: 2rem 0 0 0;
  }
}

