@import "../../../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.boxProductos {
  // height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
// padding: 1rem;
  .boxProdUnidad {
    // height: 9rem;
    // width: 18rem;
    height: 8.5rem;
    // width: 16rem;
    width: 15rem;
    background: $white;
    // margin: 0.5rem 1.5rem;
    margin: 0.7rem 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(255 255 255 / 27%) 0px 0px 0.25em, rgb(224 235 255 / 17%) 0px 0.25em 1em;
    .boxDescripcionProd {
      // width: 70%;
      // display: flex;
      // align-items: flex-start;
      // justify-content: center;
      // flex-direction: column;

      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 1rem 0;

      .descripcionProd {
        display: flex;
        flex-direction: column;
        // margin: 1rem;
        align-items: flex-start;
        p {
          color: $blackColor;
          margin: 0rem;
          font-style: normal;
          font-weight: normal;
          font-size: 0.9rem;
          line-height: 23px;
          font-family: 'RocknRoll One', sans-serif;
          padding: 0rem 1.2rem;
        }
      }
      .btnAgregar {
      display: flex;
      width: 100%;
      justify-content: center;
      button {
        // padding: 0.4rem;
        // width: 6.4rem;
        // background: $yellowClaro;
        // border-radius: 4px;
        // font-size: 1rem;
        // border: 2px solid $brownBordes;
        // // margin: 0 0 1rem 0;
        // font-family: Roboto;
        // font-style: italic;
        // font-weight: bold;
        // cursor: pointer;
        padding: 0.4rem;
        width: 6.4rem;
        background: #dec000;
        border-radius: 4px;
        font-size: 1rem;
        border: 2px solid #6a5720;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        cursor: pointer;
        // color: #fff8bd;
        color:#19170e;
        box-shadow: rgb(28 24 13 / 25%) 0px 5px 15px 0px;

        &:hover {
          background: $yellowColor;
        }

      }
      }
    }
    .boxImagenProd {
      display: flex;
      justify-content: flex-end;
      width: 40%;
      img {
        width: 100%;
        border: white;
        border: 4px solid #ffffff;
        box-sizing: border-box;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        object-fit: cover;
      }
    }

  }
  
}

.btnResponsive {
  display: none;
} 

@media(max-width:775px) {

  .boxProductos{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .boxProdUnidad {
      // height: 4.5rem;
      // width: 18rem;
      // margin: 0.7rem 0.6rem;
      // justify-content: 
      width: 11rem;
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: stretch;
      background: #ffff;
      margin: 0.7rem 0.6rem;
      border-radius: 0.5rem;
      box-shadow: rgb(255 255 255 / 27%) 0px 0px 0.25em, rgb(224 235 255 / 17%) 0px 0.25em 1em;
      .boxDescripcionProd {
        // flex-direction: row;
        // width: 20rem;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        padding: 1rem 0 1rem 0.3rem;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        .descripcionProd {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          // justify-content: flex-end;
          // margin: 0 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          /* margin: 0 1rem; */
          /* padding: 0.3rem; */
          width: inherit;
          p{
            color: #0C0C0C;
            margin: 0rem;
            font-style: normal;
            font-weight: normal;
            font-size: 0.6rem;
            line-height: 13px;
            font-family: "RocknRoll One", sans-serif;
            padding: 0rem;
            width: inherit;
          }
        }
        .btnAgregar {
          // display: flex;
          // /* width: 100%; */
          // justify-content: flex-end;
          display: flex;
          width: 25px;
          justify-content: center;
          align-items: center;
          .btnAgregarNav {
            display: none;
          }
          .btnResponsive {
            display:block;
            border-radius: 16px 0px;
            width: 1.7rem;
            height: 2.5rem;
          }
        }
      }
      .boxImagenProd {
        // display: flex;
        // justify-content: flex-end;
        // width: 40%;
        display: flex;
        justify-content: flex-end;
        width: 57%;
      }
    }
  } 

}