@import "../../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
}
h4 {
  // width: 10%;
  width: 7rem;
  background-color: #5a5120;
  color: #fdd70b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0px;
  height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  // margin: 2.5vh 0 0 4%;
  margin: 2.5vh 0 0 2%;
}
.cocinero {
  display: none;
}
.boxContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.87)),
  url("../../imagenes/background2.png");
  background-size: 100vw 100vh;
  background-attachment: fixed ;
  min-height: 100vh;
}

.boxNav {
  display: flex;
  margin: 0 4%;
  padding: 1rem 0;
  justify-content: space-between;
  .boxOptions {
    width: 85%
  }
  img {
    width: 6rem;
  }

  nav {
    height: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 0px 0 20%;
    a{
      text-decoration: none;
      color: $white;
      font-family: 'Roboto', sans-serif;
      margin: 0 10px;
      font-size: 1.3rem;
      &:hover {
        color:$yellowClaro;

      }
    }
  }
  .linea {
    border-top: 2px solid $brownLineas;
    height: 4px;
    padding: 0;
    margin: 20px 10px 0 auto;
  }
}
