@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.pedidosListos {
  display: flex;
  div {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;

    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    margin: 1vh 1.5%;
  }
  button {
    background: #f59300;
    // mix-blend-mode: lighten;
    border: 2px solid #a06102;
    border-radius: 9px;
  }
}
#listaPedidos {
  list-style: none;
  padding-inline-start: 0;
  // width: 60%;
  // margin: 0 20%;
  // margin: 0 10%;
  p {
    margin-top: 0;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
  }
}

.horaAc{
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px 0px;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 2.5vh 5rem 0 5.3%;
  margin: 7.5vh 5rem 0 5.3%;
}
