//Colors 
$blackColor: #0C0C0C;
$blackOscuro:#21232A;
$yellowColor:#FDD70B;
$yellowOscuro:#5A5120;
$naranjaColor:#f1c375;
$brownLineas:#854F25;
$brownOscuro:#362c0f;
$white:#ffff;
$yellowClaro: #E7D15E;
$brownBordes:#c77739;
$brownOscuro2:#512626;





