@import "../../variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgba(0, 0, 0, 0.856);
  .modalOpciones{
    width: 40%;
    background-color: aliceblue;
  }
}
.containert {
  margin: 0;
  .boxTomarOrden {
    height: 100% ;
    .horaAc{
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 20px 0px;
      height: 2rem;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin: 2.5vh 5rem 0 5.3%;
    }

    .boxTomarOrdenMenu {
      display: flex;
      flex-direction: column;
      height: 91%;
      margin: 0 1.3rem;
      padding: 0rem 1.5rem;
      .boxTomarOrdenMenu2 {
        display: flex;
        justify-content: space-between;
        height: 90%;
        margin: 2.5vh 2% 1.4% 2%;
      }
      .boxMenu {
        // width: 100%;
        // width: 70%;
        // background: rgba(0, 0, 0, 0.55);
        // border: 1px solid #F1C375;
        // box-sizing: border-box;

        width: 100%;
        background: rgba(0, 0, 0, 0.55);
        border: 1px solid #F1C375;
        box-sizing: border-box;
        padding: 0 1rem 1rem 1rem;
      }
      .boxBtnTomarOrden {
        align-items: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 10%;
        justify-content: center;
          button {
            background: $yellowColor;
            border: 2px solid $brownLineas;
            border-radius: 8px;
            box-sizing: border-box;
            color: rgba(81, 38, 38, 0.95);
            cursor:pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 1.3rem;
            font-style: italic;
            font-weight: bold;
            margin: 0.5rem;
            width: 12rem;
            padding: 0.2rem;
        }
      }
    }

  }

  @media(max-width:775px) {

    .boxTomarOrdenMenu {
      display: flex;
      flex-direction: column;
      height: 91%;
      margin: 0 1.3rem;
      padding: 0rem 1.5rem;
      .boxTomarOrdenMenu2 {
        display: flex;
        flex-direction: column;
        height: 91%;
        margin: 0 1.3rem;
        padding: 0rem 1.5rem;
        
      }
    }
    .containert {
      .boxTomarOrden {
        .horaAc {
          margin: 8.5vh 5rem 0 5.3%;
        }
      }
    }

  }



}


