@import "../../variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containert {
  // height: 79%;
  margin:0;
  .boxTomarOrden {
    // background:$brownLineas;
    height: 100% ;
    /* .boxtitleUsuario {
      display: flex;
      height: 9%;
      flex-direction: row;
      align-items: center;
      .boxTitle {
        align-items: center;
        background: $yellowOscuro;
        display: flex;
        height: 2rem;
        justify-content: space-evenly;
        width: 8rem;
        // margin: 0 1rem;
        border-radius: 23px 0px;
        // position: absolute;
        margin: 1rem 0;
        p {
          color: $yellowColor;
          margin: 0;
          font-family: 'Roboto', sans-serif;
        }
      }
    } */
    .boxTomarOrdenMenu {
      // background-color:#232344;
      display: flex;
      flex-direction: column;
      height: 91%;
      .boxTomarOrdenMenu2 {
        display: flex;
        justify-content: space-between;
        height: 90%;
        margin: 1.8rem 1rem 1rem 1rem;
        .boxMenu {
          width: 65%;
          background: rgba(0, 0, 0, 0.55);
          border: 1px solid #F1C375;
          box-sizing: border-box;
        }
        .boxFactura {
          width: 34%;
          background: rgba(0, 0, 0, 0.55);
          border: 1px solid $naranjaColor;
          box-sizing: border-box;

        }
      }
      .boxBtnTomarOrden {
        align-items: center;
        width: 100%;
        // background-color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        height: 10%;
        justify-content: center;
        /* .boxBtnTomarOrden2 {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 1rem; */
          button {
            background: $yellowColor;
            border: 2px solid $brownLineas;
            border-radius: 8px;
            box-sizing: border-box;
            color: rgba(81, 38, 38, 0.95);
            cursor:pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 1.3rem;
            font-style: italic;
            font-weight: bold;
            margin: 0.5rem;
            width: 12rem;
            padding: 0.2rem;

            // border-radius: 9px;
          /* } */
        }

      }
    }
  }
}
